body {
    box-sizing: border-box;
}

.raw {
    row-gap: 10px;
    column-gap: 25px;
}
.al-it-cen{align-items: center;
}

.jus-con-cen {
    justify-content: center;
}

.dis-flx {
    display: flex;
}

.flx-wp {
    flex-wrap: wrap;
}

.wh500px {
    width: 500px;
}

.ht200px {
    height: 200px;
}

.bgd-bl {
    background: #16457a;
}

.bgd-blw {
    background: #2269ba
}

.wh150px {
    width: 150px;
}

.raw > div {
    font-size: 20px;
    color: aliceblue;

}