body{
    margin: 0;
    box-sizing: border-box;
}
.bgr{ background: #d8d8d8;}
.clr{ color: #939393;}
.w1200{width: 100%;}
.d-flx{ display: flex;}
.h400{height: 400px;}
.w200{width: 19%;}
.h100{height: 100px;}
.flx-wr{flex-wrap: wrap;}
.w1000{width: 80%;}
.rc-gap{row-gap: 9px; column-gap: 9px;}
.ju-cn-cn{ justify-content: center;}
.al-it-cn{ align-items: center;}
@media screen and ( max-width: 992px) and ( min-width: 768px){
    .c{
        height: 100px;
    }
    .raw > div{
        border-radius: 40px;
        width: 100%;

    }
    .raw{ row-gap: 20px;
        border: black 3px solid;
        border-radius: 40px;
        padding: 5px;
    }


}

