body
{
    box-sizing: border-box;
}
.dsp-flx{display: flex;}
.flx-wr{flex-wrap: wrap}
.w400{width: 400px;}
.brd{ border: #999999 solid 1px;}
.brd-rds{border-radius: 5px;}
.h70{height: 70px;}
.w97{width: 97px;}
.js-cn-cn{ justify-content: center;}
.al-it-cn{ align-items: center;}
.bgd{background: #d8d8d8;}
.clr{color: #a4a4a4}
.w300{width: 300px;}
.clm-gr{column-gap: 4px;}
.rw-gr{ row-gap: 6px;}
.h{width: 96px; height: 149px;}
.png{padding: 5px;}
.raw{ width: 1200px;}